.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div > .credentialsBtn {
  border-radius: 0px;
  font-size: 17px;
}

div > .thirdPartySignin {
  border-radius: 0px;
  font-size: 17px;
  padding: 1px;
  margin-right: 15px;
}

.p-20 {
  padding: 20px;
}

div > .error-text {
  color: red;
  font-size: 14px;
  display: flex;
}

.icons-size {
  width: 40px;
  height: auto;
}
